<footer class="site-footer">

  <div id="footer-info" class="wrapper">  
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">
             <span class="icon icon--mail">{% include envelope.svg %}</span>{{ site.email }}</a></li>
          <li> <a href="tel:{{ site.phone }}">
          <span class="icon icon--whatsapp">{% include whatsapp-logo.svg %}</span>
            {{ site.phone }}</a>
          </li>          
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}       
         {% if site.linkedin %}
          <li>
            {% include icon-in.html username=site.linkedin %}
          </li>
          {% endif %}     
           {% if site.stack_overflow %}
          <li>
            <a href="http://pt.stackoverflow.com/users/59773/marco-vinicius-soares-dalalba?tab=profile"><img style="max-width: 19%" src="/img/stack.png" /><span class="username">Marco</span></a>
          </li>
          {% endif %}     
        </ul>        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>    
</footer>
