<header class="site-header">

	<nav class="navbar navbar-default navbar-fixed-top">		
		<div class="container">
		<div class="navbar-header">
		<a href="/" class="navbar-brand animated flipInX">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>          
        </div>
		<div class="collapse navbar-collapse">		
			<ul class="nav navbar-nav navbar-right animated flipInX">
				<div>									   				
				</div> 								
				{% for node in site.categories.single reversed %}   					
					{% capture id %}{{ node.id | split: '/' | last }}{% endcapture %}
					<li class="p-{{node.style}}"><a id="{{node.head-id}}" href="index.html#{{id}}">{{node.title}}</a></li>						
				{% endfor %}      
				<li class="p-updating"> <a id="post" href="post.html">Posts</a> </li>			
				<li class="p-why"> <a id="info" href="index.html#footer-info">Contato</a> </li>			
			</ul>
			</div>
		</div>
	</nav>

</header>
