<div class="container skill-container">
    <h3>{{ site.skill_title | default: "Skills" }}</h3>
    {% assign col_length = site.data.skills | size | divided_by: 2 | plus: 0.1 | ceil %}
    <div class="col-xs-12 col-sm-6">
    {% for skill in site.data.skills %}         
        <div class="row clearfix skill {{class}}">
            <div class="left-column">
                <h4 class="name">
                {{ skill.Skill }}
                <b>{{ skill.Time }} {{site.skill_time | default: "anos"}}</b>
                </h4>
            </div>
        </div>
        {% if forloop.index == col_length %}
            </div>
            <div class="col-xs-12 col-sm-6">
        {% endif %}
    {% endfor %}
    </div>
  </div>