{{- $description := partial "utils/page-description.html" . -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vinisdl">
<meta name="twitter:creator" content="@vinisdl">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- with $.Params.images -}}
{{- range first 1 . }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{ end -}}
{{- else -}}
{{- with $.Site.Params.images }}
<meta name="twitter:image" content="{{ index . 0 | absURL }}">
{{ end -}}
{{- end -}}
