<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="main" >

      {% include header.html %}

      <div class="page-content">        
        {{ content }}         
      </div>

      {% include footer.html %}
    </div>
  {% include analytics.html %}
  
  
  <img id="akuma" style='display:none;height: 100%;width: 100%;-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-color: white;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);' src='img/akuma.gif'>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   <!-- ==========================
      JS 
    =========================== -->
  <script src="{{ "/js/jquery-2.1.4.js"  | prepend: site.baseurl }}"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>   
  <script src="{{ "/js/easyPieChart.js"  | prepend: site.baseurl }}"></script>     
  <script src="{{ "/js/bootstrap.min.js"  | prepend: site.baseurl }}"></script>    

  <script src="{{ "/plugins/creative-brands/creative-brands.js"  | prepend: site.baseurl }}"></script>
  <script src="{{ "/plugins/modernizr/modernizr.custom.js"  | prepend: site.baseurl }}"></script>    
  <script src="{{ "/plugins/waypoints/waypoints.min.js"  | prepend: site.baseurl }}"></script>    
  <script src="{{ "/js/konami.js"  | prepend: site.baseurl }}"></script>    
  <script src="{{ "/js/custom.js"  | prepend: site.baseurl }}"></script>    
      
  <!--<script src="plugins/modernizr/modernizr.custom.js"></script>
  <script src="plugins/waypoints/waypoints.min.js"></script>
  <script src="js/custom.js"></script>
  -->
</html>
